:root {
  --main-bg-color: lightyellow;
  --main-txt-color: blue; 
  --main-padding: 15px; 
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.b-content{
  width: 80%;
  background-color: var(--main-bg-color);
  margin: 0 auto;
}

.status {
  background-color: var(--main-bg-color);
}

.status li{
  display: inline-block;
  margin-right: 25%;
}